@font-face {
    font-family: 'mont-bold';
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'mont-regular';
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}